* {
    font-family: "Rimouski";
    font-size: 1rem;
}

body {
    margin-top: 100px;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('https://source.unsplash.com/random');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
}
i {
    font-size: 2rem;
    color: rgba(21, 159, 244, 0.84);
    padding: 20px;
}
.card-header {
    margin-top: 5px;
    opacity: 0.75;
    z-index: 1;
}
#quote {
    font-size: 1.3rem;
    color: rgba(11, 12, 12, 0.55);
}
.fa-redo-alt {
    /* font-size: 2rem; */
    color: rgba(11, 12, 12, 0.416);
}
.b-nav {
    font-size: 1.0em;
    margin: 0;
    text-align: center;
    padding: 5px 0;
}
.quote-container {
    opacity: 0.7;
    width: 400px;
    display: block;
    margin: 0 auto;
    /* border-radius: 0px; */
    padding-bottom: 15px;
}
/* .fa-redo-alt {
    color: rgb(108, 143, 162);

} */